<!DOCTYPE html>
<html>
<head>
  <title>New Topic</title>
</head>
<body>
  <h1>New Topic</h1>
  
  <%= form_with(model: @topic, local: true) do |f| %>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :content, "Content" %>
      <%= f.text_area :content %>
    </div>

    <div>
      <%= f.submit "Create" %>
    </div>
  <% end %>
</body>
</html>
